.actions {
	color: var(--grey);
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	margin-block-start: 16px;
}

.action-button {
	background: transparent;
	block-size: 35px;
	border-radius: 50%;
	border: none;
	inline-size: 35px;
	transition: 0.5s background;
	-moz-border-radius: 50%;
	-moz-transition: 0.5s background;
	-ms-border-radius: 50%;
	-ms-transition: 0.5s background;
	-o-border-radius: 50%;
	-o-transition: 0.5s background;
	-webkit-border-radius: 50%;
	-webkit-transition: 0.5s background;
}

.actions i {
	color: var(--grey);
	display: inline-block;
	transition: 0.5s color;
	-moz-transition: 0.5s color;
	-ms-transition: 0.5s color;
	-o-transition: 0.5s color;
	-webkit-transition: 0.5s color;
}

.actions > div,
.action-button {
	cursor: pointer;
}

.blue-container:hover [class*='icon-']::before {
	background: rgba(29, 155, 240, 0.5);
}

.blue-container:hover [class*='icon-']::before,
.blue-container:hover span {
	color: rgb(29, 155, 240);
}

.green-container:hover .icon-retweet::before {
	background: rgba(0, 186, 124, 0.5);
}

.green-container:hover .icon-retweet::before,
.green-container:hover span,
.green-container.is-liked .icon-retweet::before,
.green-container.is-liked span {
	color: rgb(0, 186, 124);
}

.red-container:hover .icon-heart:before,
.red-container.is-liked .icon-heart:hover {
	background-color: rgba(249, 24, 128, 0.5);
}

.red-container:hover span,
.red-container:hover .icon-heart::before,
.red-container.is-liked span {
	color: rgb(249, 24, 128);
}

.actions > [class*='-container'] {
	block-size: 35px;
	display: flex;
	align-items: center;
}

.actions [class*='icon-'] {
	position: relative;
	block-size: 35px;
	inline-size: 35px;
}

.actions [class*='icon-']::before {
	border-radius: 50%;
	font-size: 15px;
	padding: 10px;
	position: absolute;
	transition: 0.5s background;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-transition: 0.5s background;
	-moz-transition: 0.5s background;
	-ms-transition: 0.5s background;
	-o-transition: 0.5s background;
}

/* like button */

.red-container.is-liked .icon-heart {
	animation: like 1s steps(14, end) forwards;
	background: url('../assets/icons/heart.png') -07px center;
	background-size: 1450px 48px;
	border-radius: 50px;
	transition: 0.5s background-color;
	-webkit-animation: like 1s steps(14, end) forwards;
	-webkit-transition: 0.5s background-color;
	-moz-transition: 0.5s background-color;
	-ms-transition: 0.5s background-color;
	-o-transition: 0.5s background-color;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.red-container.is-liked .icon-heart::before {
	content: '';
	padding: 0;
}

@keyframes like {
	100% {
		background-position-x: -1407px;
	}
}
