:root {
	--white: #ffffff;
	--bg: #000000;
	--blue: #2797dd;
	--grey: #6e767d;
	--pink: #f72381;
	--fontBase: 'Poppins', sans-serif;
	--body2-bold: 700 0.75rem/1.5rem Poppins;
	--body2-regular: 400 0.75rem/1.375rem Poppins;
}

.body {
	background: var(--bg);
	color: var(--white);
	font: var(--body2-regular);
	margin: 0;
	min-inline-size: 360px;
}

@media screen and (min-width: 598px) {
	:root {
		--body2-bold: 700 1rem/1.75rem Poppins;
		--body2-regular: 400 1rem/1.75rem Poppins;
	}

	.wrapper {
		padding-block-end: 40px;
		padding-block-start: 40px;
	}
}
