.openGraph {
	border-radius: 24px;
	border: 1px solid var(--grey);
	overflow: hidden;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	-webkit-border-radius: 24px;
}

.openGraph a {
	color: var(--grey);
	display: flex;
	text-decoration: none;
}

.openGraph a:hover {
	text-decoration: none;
}

.openGraph-image {
	background: url('../assets/images/link-thumbnail.png') no-repeat center center;
	background-size: cover;
	block-size: 82.8px;
	flex-shrink: 0;
	inline-size: 92px;
}

.openGraph .openGraph-title {
	color: var(--white);
	display: block;
}

.openGraph-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 0;
	padding-inline-end: 16px;
	padding-inline-start: 16px;
}

.openGraph-content p {
	margin: 0;
}

.openGraph-description {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.openGraph-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (min-width: 598px) {
	.openGraph a {
		flex-direction: column;
	}

	.openGraph-image {
		aspect-ratio: 16/9;
		block-size: auto;
		inline-size: 100%;
	}

	.openGraph-content {
		padding: 16px;
	}

	.openGraph-description {
		-webkit-line-clamp: 2;
	}
}
