.tweed-header a {
	color: var(--grey);
	display: flex;
	flex-direction: column;
	font: var(--body2-regular);
	text-decoration: none;
}

.tweed-header a .tweed-name {
	color: var(--white);
	font: var(--body2-bold);
}

.tweed-name:hover {
	text-decoration: underline;
}
